<section class="about-you section bg-gray">
  <div class="center">
    <h2 class="show-mobile text-center">Be your best self.</h2>

     <div class="flex">
       <div class="image">
         <img src="src/img/top-block/top-block-1.jpg" class="top" alt="">
         <img src="src/img/describe-benefits/loungewear-you.jpg" class="middle" alt="">
         <img src="src/img/about-you/about-you-3.jpg" class="bottom" alt="">
       </div>

       <div class="text">
         <h2 class="hide-mobile">Be your best self.</h2>
         
         <p>Hi! My name’s [Insert Name], and I founded [Insert] in ____.</p>

         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.</p>

         <p>Fusce non nibh luctus, dignissim risus quis, bibendum dolor. Donec placerat volutpat ligula, ac consectetur felis varius non. Aliquam a nunc rutrum, porttitor dolor eu, pellentesque est. Vivamus id arcu congue, faucibus libero nec, placerat ligula.</p>

         <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu nisl a metus ultrices sodales.</p>

         <p>Fusce non ante velit. Sed auctor odio eu semper molestie. Nam mattis, sapien eget lobortis fringilla, eros ipsum tristique tellus, ac convallis urna massa at nibh.</p>

         <p>Duis non fermentum augue. Vivamus laoreet aliquam risus, sed euismod leo aliquam ut. Vivamus in felis eu lacus feugiat aliquam nec in sapien.</p>

         <p>Cras mattis varius mollis.</p>

         <div class="hide-mobile">
           <a href="#" class="btn">Customize Your Outfit</a>
         </div>
       </div>
     </div>
  </div>
</section>