<section class="reviews-section">
  <div class="center">
    <div class="text-center">
      <h2 class="mb-30">What are our fans saying?</h2>

      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat. Fusce non nibh luctus.
      </p>
    </div>
  </div>

  <div class="grid-image">
    <img src="src/img/reviews-section/grid-image/grid-image-1.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-2.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-3.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-4.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-5.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-6.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-7.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-8.jpg" alt="">
    <img src="src/img/faq/faq-3.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-11.jpg" alt="">
    <img src="src/img/find-something/find-something-1.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-13.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-14.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-15.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-16.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-17.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-18.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-19.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-20.jpg" alt="">
    <img src="src/img/reviews-section/grid-image/grid-image-21.jpg" alt="">
    <img src="src/img/faq/faq-2.jpg" alt="">
  </div>

  <div class="center">
    <div class="wrap-reviews-slider">
      <div class="reviews-slider">
        <div class="slide">
          <header class="header">
            <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="" class="person">

            <div class="info">
              <div class="rating" style="--rating: 20%"></div>
              <p class="name">Jane, S.</p>
            </div>
          </header>

          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo. Aenean eget aliquet mi.
            </p>
          </div>
        </div>

        <div class="slide">
          <header class="header">
            <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="" class="person">

            <div class="info">
              <div class="rating" style="--rating: 20%"></div>
              <p class="name">Jane, S.</p>
            </div>
          </header>

          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo. Aenean eget aliquet mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales.
            </p>
          </div>
        </div>

        <div class="slide">
          <header class="header">
            <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="" class="person">

            <div class="info">
              <div class="rating" style="--rating: 20%"></div>
              <p class="name">Jane, S.</p>
            </div>
          </header>

          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo. Aenean eget aliquet mi.
            </p>
          </div>
        </div>

        <div class="slide">
          <header class="header">
            <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="" class="person">

            <div class="info">
              <div class="rating" style="--rating: 20%"></div>
              <p class="name">Jane, S.</p>
            </div>
          </header>

          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo. Aenean eget aliquet mi.
            </p>
          </div>
        </div>

        <div class="slide">
          <header class="header">
            <img src="src/img/reviews-section/grid-image/grid-image-10.jpg" alt="" class="person">

            <div class="info">
              <div class="rating" style="--rating: 20%"></div>
              <p class="name">Jane, S.</p>
            </div>
          </header>

          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo. Aenean eget aliquet mi.
            </p>
          </div>
        </div>
      </div>

      <div class="reviews-slider-arrow"></div>
    </div>

    <div class="text-center">
      <div class="small-padding">
        <a href="#" class="btn">
          <span>Customize Your Outfit</span>

          <svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.1072 10L23 5.00003L18.1072 0L16.6372 1.5022L19.0205 3.93781L0 3.93781V6.06226L19.0205 6.06226L16.6372 8.4978L18.1072 10Z" fill="white"></path>
          </svg>
        </a>

        <div class="rating-info">
          <div class="rating" style="--rating: 20%"></div>
          <p class="info">Over 500+ 5 Star Reviews Online</p>
        </div>
      </div>
    </div>
  </div>
</section>