@import "mixins/media-queries";

$f: "Sofiasans", sans-serif;
$f-su: "SuisseIntl-Regular", sans-serif;


$black: black;
$dark: #1D1D1D;
$white: white;

$gray: #565656;

$blue: #01005B;
$orange: #F67F16;
$red: red;
$cream: #F9F0E5;

//theme
$bg-gray: #F0EEEF;
$bg-cream: $cream;

$text-gray: #676869;
$text-orange: $orange;

$border-gray: #EDEDED;
$border-orange: $orange;