@import "mixins/media-queries";

$f-4: "GilroyRegular", sans-serif;
$f-7: "GilroyBold", sans-serif;


$black: black;
$dark: #1D1D1D;
$white: white;
$gray: gray;
$orange: #F67F16;
$red: red;

//theme
$bg: #83254B;

$text-gray: $gray;
$text-orange: $orange;

$border-gray: $gray;
$border-orange: $orange;