@import "@scss/abstractions/global-variables";
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;

  @include m(768px){
    margin-bottom: 20px;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;

  .btn{
    margin-left: auto;
    margin-right: auto;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-icon {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 17px;
  padding-left: 37px;
}

.hide-mobile {
  @include m(1024px) {
    display: none;
  }
}

.show-mobile {
  display: none;

  @include m(1024px) {
    display: block;
  }
}

.hidden{
  display: none;
}

.ul {
  list-style: disc;
  margin: 5px 0 42px 36px;

  @include m(560px){
    margin: 5px 0 28px 24px;
  }

  li + li {
    margin-top: 11px;

    @include m(560px){
      margin-top: 7px;
    }
  }
}

.ol {
  list-style-type: decimal;

  li + li {
    margin-top: 20px;
  }
}

.networks {
  display: flex;
  margin-top: 24px;

  li + li {
    margin-left: 30px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
}

.circle-icon{
  border-radius: 50%;
  background: $cream;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  width: 60px;
  height: 10px;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 10px;
    background-repeat: no-repeat;
  }

  &::after {
    background-image: url(@img/rating-empty.svg);
    z-index: 1;
  }

  &::before {
    width: var(--rating, 100%);
    background-image: url(@img/rating.svg);
    z-index: 2;
  }
}

.bg-gray {
  background-color: $bg-gray;
}

.bg-cream{
  background-color: $bg-cream;
}

.rating-info{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2%;
  color: #828282;
  margin-top: 12px;

  .rating{
    margin-right: 10px;
    width: 84px;
    height: 14px;

    &:before, &:after{
      background-size: cover;
      height: 14px;
    }
  }

  .info{
    font-family: $f-su;
    letter-spacing: 2%;

    @include m(420px){
      font-size: 10px;
    }
  }
}

.image-three{
  display: flex;
  position: relative;

  &:after, &:before{
    content: "";
    width: 88px;
    height: 190px;
    background: linear-gradient(180deg, rgba($cream, 0.7) 0%, rgba($cream, 0.217) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;

    @include m(1464px){
      width: 6vw;
      height: 13vw;
    }

    @include m(1024px){
      width: 18vw;
      height: 23vw;
    }
  }

  &:after{
    left: -66px;

    @include m(1464px){
      left: -4.5vw;
    }

    @include m(1024px){
      left: -8.5vw;
    }
  }

  &:before{
    right: -66px;

    @include m(1464px){
      right: -4.5vw;
    }

    @include m(1024px){
      right: -8.5vw;
    }
  }

  img{
    max-width: 195px;
    object-fit: cover;
    z-index: 2;

    @include m(1464px){
      max-width: 13.34vw;
    }

    @include m(1024px){
      max-width: 24vw;
    }

    &.middle{
      transform: scale(1.35);
      border: 3px solid $white;
      z-index: 3;
    }
  }
}

.small-padding{
  @include m(1024px){
    margin-left: -26px;
    margin-right: -26px;
  }

  @include m(420px){
    margin-left: -20px;
    margin-right: -20px;
  }
}