.alert{
  font-family: $f-su;
  font-size: 11px;
  line-height: 35px;
  letter-spacing: 8%;
  color: $gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  .center{
    max-width: 1316px;
  }

  .flex{
    & > *{
      margin: 0 5px;
    }
  }

  .item{
    position: relative;
    padding-left: 14px;

    &:after{
      content: "";
      border-left: 1px solid #A8A39E;
      width: 1px;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    &:first-child{
      border: none;
      padding-left: initial;

      &:after{
        display: none;
      }
    }
  }
}