@import "../abstractions/global-variables";

.btn{
  font-size: 18px;
  background: $blue;
  line-height: 100%;
  padding: 19px;
  text-align: center;
  color: $white;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  transition: .3s;
  margin-top: 30px;
  font-family: $f-su;
  letter-spacing: 3%;
  width: 100%;
  max-width: 362px;

  &:hover{
    background: black;
  }

  &.border-gold{
    background: transparent;
    border: 1px solid gold;
    color: gold;

    &:hover{
      color: $white;
      background: brown;
      border: 1px solid brown;
    }
  }

  &.mt-0 {
    margin-top: 0;
  }

  svg{
    &:last-child{
      margin-left: 28px;

      @include m(420px){
        margin-left: 12px;
      }
    }

    &:first-child{
      margin-right: 28px;

      @include m(420px){
        margin-right: 12px;
      }
    }
  }
}