@import "../abstractions/global-variables";
@import "../abstractions/mixins/index";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $f;
  color: $blue;
  letter-spacing: 4%;

  & + .description{
    max-width: 614px;
    margin: auto;
    line-height: 23px;
    letter-spacing: 3%;
    color: $text-gray;
  }
}

strong {
  font-family: $f;
  font-weight: 700;
}

h1, .h1{
  line-height: 45px;
  margin-bottom: 32px;
  font-size: 38px;

  @include m(1024px){
    margin-bottom: 16px;
  }

  @include m(768px){
    font-size: 26px;
    line-height: 34px;
  }
}

h2, .h2{
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 46px;

  @include m(1024px){
    font-size: 26px;
    line-height: 34px;
  }
}

h3, .h3{
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 12px;

  @include m(1024px){
    font-size: 20px;
  }
}

h4, .h4{
  font-size: 18px;
  line-height: 24px;
}

h6, .h6{
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 3%;
}