@import "../abstractions/global-variables";

.section{
  padding: 68px 0;

  @include m(1024px){
    padding: 52px 0;
  }
}

.center{
  margin: 0 auto;
  max-width: 1336px;
  padding: 0 52px;
  width: 100%;

  @include m(1024px){
    padding: 0 46px;
  }

  @include m(420px){
    padding: 0 20px;
  }
}

.flex {
  align-items: start;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;

  & > * {
    margin: 0 15px;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }
}

.justify-end {
  justify-content: flex-end;
}

.flex-1{
  flex: 1;
}