.about-you{
  .image{
    padding: 46px 66px 48px 76px;
    position: relative;
    margin-right: 86px;

    @include m(1024px){
      margin-right: 0;
      margin-bottom: 46px;
      padding: 26px 58px 28px 54px;
    }

    .top, .bottom{
      border: 4px solid $bg-gray;
    }

    .top{
      position: absolute;
      top: 0;
      left: 0;
      width: 165px;
      height: 175px;
      object-fit: cover;

      @include m(1024px){
        width: 100px;
        height: 107px;
      }
    }

    .bottom{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 130px;
      height: 175px;
      object-fit: cover;

      @include m(1024px){
        width: 110px;
        height: 112px;
      }
    }

    .middle{
      max-height: 570px;
    }
  }

  .text{
    flex: 1;
  }

  .flex{
    @include m(1024px){
      flex-direction: column;
      align-items: center;
    }
  }
}