.faq-section{
  .text{
    width: 100%;
    flex: 1;
  }

  .image{
    position: relative;
    padding: 130px 80px 116px 80px;
    margin-left: 74px;

    .top{
      position: absolute;
      top: 0;
      right: 0;
      max-width: 167px;
    }

    .bottom{
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 216px;
    }

    .middle{
      position: relative;
      z-index: 2;
      max-height: 354px;
    }
  }

  .wrap-middle{
    position: relative;

    &:after,
    &:before{
      content: "";
      position: absolute;
      height: 196px;
      width: 138px;
    }

    &:after{
      top: -66px;
      left: -50px;
      background: linear-gradient(180deg, rgba($cream, 0.7) 0%, rgba($cream, 0.217) 100%);
    }

    &:before{
      bottom: -40px;
      right: -66px;
      background: linear-gradient(180deg, rgba($cream, 0.7) 0%, rgba($cream, 0.217) 100%);
    }
  }
}