.find-something{
  background: linear-gradient(0deg, $cream 0%, rgba($cream, 0.18) 43.05%, rgba($cream, 0) 100%);

  .image-three{
    margin: 96px 0;
    display: inline-flex;

    @include m(1024px){
      margin: 12vw 0 18vw 0;
    }
  }

  .data-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    margin-top: 6px;

    .pay{
      max-width: 230px;

      @include m(1024px){
        max-width: 168px;
      }
    }

    .data{
      position: relative;
      font-size: 10px;
      font-family: $f-su;
      display: flex;
      align-items: center;

      &:after{
        content: "";
        border-left: 1px solid #C4C4C4;
        margin: 0 12px;
        height: 20px;
      }

      svg, img{
        margin-right: 4px;
      }
    }
  }

  .items{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 14px;

    .item{
      display: flex;
      align-items: center;
      padding: 0 26px;
      border-left: 1px solid #C4C4C4;

      &:first-child{
        border: none;
      }
    }

    .circle-icon{
      margin-right: 12px;
    }
  }

  .circle-icon{
    background: rgba(#666666, .1);
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
}