.top-section{
  .logo{
    margin-bottom: 50px;
  }

  .list{
    li{
      display: flex;
      align-items: flex-start;

      & + li{
        margin-top: 24px;
      }
    }
  }

  .circle-icon{
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 14px;
    margin-top: -2px;
  }

  .text-image{
    display: flex;
    align-items: center;
  }

  .text{
    flex: 1;
  }

  .image-three{
    margin-left: 164px;
    margin-top: 10%;

    @include m(1920px){
      margin-left: 11.2vw;
    }
  }

  .top-reviews{
    max-width: 416px;
    border: 1px solid $border-gray;
    border-radius: 8px;
    background-color: $white;
    padding: 14px 20px 12px 20px;
    margin-top: 46px;
    font-size: 12px;
    font-family: $f-su;
    line-height: 23px;
    margin-bottom: -160px;
    z-index: 2;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba($black, 0.08);

    .header{
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }

    .person{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 14px;
      font-family: $f;
    }

    .text{
      margin-top: 12px;
    }

    .details{
      display: flex;
      flex-wrap: wrap;
      letter-spacing: 2%;
      align-items: center;

      & > *{
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }

    .name{
      margin-right: 20px;
      letter-spacing: 3%;
      font-size: 15px;
    }
  }

  .info{
    font-size: 11px;
  }

  .rating{
    margin-right: 7px;
  }
}